<div class="post" id="post">
  <div class="postTitle">
      <input type="text" id="titleEdit" value="{{post.title}}"></input>
      <p>Posted by {{post.userName}} on {{post.date}}</p>
    </div>
    <textarea rows="20" cols="50" type="text" id="commentEdit">{{post.contents}}</textarea>
</div>
<p id="postId">{{post.id}}</p>
<button class="btn" id="edit-btn">Update Post</button>
<button class="btn" id="delete-btn">Delete</button>

<script src="/js/editPost.js"></script>