<script src="/js/home.js"></script>

{{#each posts as |post|}}
  <div class="post" onclick="onClickPost({{post.id}})">
    <div class="postTitle">
      <p>{{post.title}}</p>
      <p>Posted by {{post.userName}} on {{post.date}}</p>
    </div>
    <p>{{post.contents}}</p>
  </div>
{{/each}}