<h1>Test</h1>
<div class="post" id="post">
<p>{{post.title}}</p>
<p>{{post.contents}}</p>
<p>{{post.userName}}</p>
<p>{{post.date}}</p>
</div>
<p id="postId">{{post.id}}</p>
<button class="btn" id="comment-btn">+Comment</button>

<script src="/js/post.js"></script>