<div class="post" id="post">
  <div class="postTitle">
      <p>{{post.title}}</p>
      <p>Posted by {{post.userName}} on {{post.date}}</p>
    </div>
    <p>{{post.contents}}</p>
</div>
<p id="postId">{{post.id}}</p>
{{#each comments as |comment|}}
<div class="commentSection">
  <div>
    <div class="commentHeader">
  <p>{{comment.userName}}</p>
  <p>{{comment.date}}</p>
    </div>
  <p>{{comment.contents}}</p>
  </div>
</div>
{{/each}}
<div id="commentSection"></div>
{{#if logged_in}}
  <button class="btn" id="comment-btn">+Comment</button>
{{/if}}
<script src="/js/post.js"></script>